@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: 0;
    /* Rotate the text 20 degrees but keep it close to the viewer */
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -6000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}



* {
  font-family: "Fjalla One", sans-serif;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: transparent;
  position: relative;
}

input[type="text"]{
 
color:black;
}

input[type="text"]:focus{
  outline: none;
  box-shadow: 0 0 10px #eab308;
}
.card-wrapper:hover {
  transform: scale(1.03);
}

.card-wrapper:hover h3::after {
  width: 100%;
}

.card-wrapper h3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #eab308;
  transition: width 0.3s;
}

.card-wrapper img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.modal-open {
  animation: slide-down 0.3s ease-in-out forwards;
}

.modal-wrapper{
  background: linear-gradient(110deg, #2196f3,  #F00000);
}
